In [1]:
#Q1
# 1.string
a = "shubhankar"
# 2.list
b=["yash",1,5,True,"sameer"]
# 3.float
c=56.7
# 4.tuple
d=("shubh","sudh",34,76,False)
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [2]:
#Q2. Given are some following variables containing data:
#ans=(i) string
#(ii) string
#(iii) list
#(iv) integer

In [3]:
#Q3. Explain the use of the following operators using an example:
#(i) / - division
a=10/5
print(a)
#(ii) % - remainder
b=10%4
print(b)
#(iii) // -floor division
c=10//6
print(c)
#(iv) ** - power
d= 2** 4
print(d)

2.0
2
1
16

In [4]:
#Q4
list = [324,6545,"shubhankar",True,False,"Fire","sudh",434,6554,86]
for i in list:
    print(i)
    print(type(i))

324
<class 'int'>
6545
<class 'int'>
shubhankar
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>
Fire
<class 'str'>
sudh
<class 'str'>
434
<class 'int'>
6554
<class 'int'>
86
<class 'int'>

In [5]:
#Q5
a=30
b=3
while a%b==0:
    c=a/b
    print(f' 30 can be purely divisible by 3 by {c} times')
    break

 30 can be purely divisible by 3 by 10.0 times

In [6]:
#Q6
my_list=[1,2,3,57,43,23,6,2,7,9,4,67,4,74,36,86,34,3,89,5,43,4,678,7,6]
for i in my_list:
    if i%3==0:
        print("the no. is divisible by 3")
    else:
        print("the no. is not divisible by 3")

the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is not divisible by 3
the no. is divisible by 3
the no. is not divisible by 3
the no. is divisible by 3

In [7]:
#Q7
#mutable= variable which we can change is called mutable
a=["shubhankar",43,656,23,454,5645,"yash"]
a[6]="harsh"
print(a)
#immutable= variable which we cannot change is called immutable
b="shubhankar"
b[5]="c"
print(b)
#a is mutable as we replace yash into harsh
#b is immutable as we cant able to replace a into h

['shubhankar', 43, 656, 23, 454, 5645, 'harsh']

TypeError: 'str' object does not support item assignment